@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 1024px) {
    .icons {
        display: none !important;
    }
}

html {
    scroll-behavior: smooth;
}

* {
  font-family: 'Poppins', sans-serif;
  background-color: #242424;
  color: white;
  margin: 0;
}

::selection {
  background-color: goldenrod;
  color: black;
}

a {
  text-decoration: none;
  background-color: transparent;
}

footer {
  text-align: center;
  border-top: goldenrod 2px solid;
  padding: 1rem 0rem;
}

textarea {
  resize: none;
}

.card {
  border-radius: 4rem;
  padding: 1rem;
  background: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card > p {
  grid-column: 1 / -1;
  background-color: transparent;
  object-fit: fit-content;
  width: 80%;
  justify-self: center;
  padding-bottom: 1rem;
}

.contact-form {
  width: 60%;
  margin: auto;
}

.contact-form-input {
  display: block;
  justify-self: center;
  width: 100%;
  text-align: center;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem;
  background: #111111;
  transition: 0.2s;
  border: none;
  outline: 2px white solid;
}

.contact-form-input:hover {
  box-shadow: 0 0 0.6rem 0.3rem goldenrod;
}

.contact-form-button {
  width: 100%;
  border-radius: 1em;
  background-color: #363636;
  margin: 0em 0em 2em;
  transition: 0.3s;
  border: none;
  outline: 2px white solid;
}

.contact-form-button:hover {
  background-color: goldenrod;
}

.explore {
  justify-content: center;
  display: flex;
  background-color: transparent;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  margin: 1rem;
  padding: 0vh 3vw;
  column-gap: 5vw;
  height: auto;
  justify-items: center;
}

.headshot {
  grid-column: 1 / 4;
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  background-color: #000;
}

.icons {
  background-color: transparent;
  height: fit-content;
  align-self: center;
  justify-self: end;
  padding-left: 2rem;
  margin: 0;
  grid-column: 4;
}

.icons li{
  list-style: none;
  background-color: transparent;
  width: fit-content;
  padding: 5px 0px;
}

.icons li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.icons li a .social {
  position: relative;
  color: #242424;
  background-color: transparent;
  transition: .5s;
  z-index: 3;
}

.icons li a:hover .social {
  color: #fff;
  transform: rotateY(360deg);
}

.icons li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.icons li a:hover:before {
  top: 0;
}

.icons li:nth-child(1) a:before{
  background: linear-gradient( rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);

}

.icons li:nth-child(2) a:before{
  background: #55acee;
}

.icons li:nth-child(3) a:before {
  background: #242424;
}

.icons li:nth-child(4) a:before {
  background: #dd4b39;
}

.landing {
  height: 100vh;
  background-image: url('/imgs/galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.names {
  font-size: 3em;
  padding: 1rem 0rem;
  grid-column: 1 / -1;
  background-color: transparent;
  justify-self: center;
  width: 80%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #9e9e9e;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.title {
  background-color: rgba(0, 0, 0, 0);
  font-style: italic;
  text-align: center;
  font-size: 8rem;
}

.title-box {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: center;
  height: 90vh;
}

#about {
  text-align: center;
  padding: 2%;
  height: 7vh;
  border-top: 5px silver solid;
  font-size: 3rem;
}

#contact {
  text-align: center;
  font-size: 3rem;
  margin-top: 10vh;
}

#explore-button {
  opacity: 1;
  background-color: transparent;
  text-align: center;
  border: 2px white solid;
  border-radius: 10px;
  font-weight: 100;
  padding: 2px 7px;
  transition: background-color .2s ease-in;
  object-fit: fit-content;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#explore-button:hover {
  background-color: azure;
  color: #222;
}

#hobbies {
  text-align: center;
  font-size: 3rem;
}

#menubutt {
  font-size: 4rem;
  cursor: pointer;
  background-color: transparent;
  padding-left: 2%;
  padding-top: 2%;
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
  -ms-animation: fadein 4s; /* Internet Explorer */
  -o-animation: fadein 4s; /* Opera < 12.1 */
  animation: fadein 4s;
}
